{
    "root": true,
    "rules": {
        "semi": [2, "never"],
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline"
        }],
        "quotes": ["error", "single"],
        "@typescript-eslint/no-explicit-any": ["off"],
        "eqeqeq": "error"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}